<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>记事本</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="inputValue" @keyup.enter="add">
    <ul>
        <li v-for="(item,index) in array">
            <span>{{index+1}}</span>
            <label>{{item}}</label>
            <input type="button" value="删除" @click="remove(index)">
        </li>
    </ul>
    <p>共有多少条数据：{{array.length}}</p>
    <span><input type="button" value="清空所有数据" @click="clear" v-if="array.length!=0"></span>



</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            array:[
               "去睡觉","去吃饭","写代码"
            ],
            inputValue:""
        },
        methods:{
         add: function (){
            this.array.push(this.inputValue);
         },
            remove: function (index){
             //index：删除的索引
             //   1：每次只删一个
             this.array.splice(index,1);
            },
            clear:function (){
             this.array=[];
            }
        }
    })
</script>

</body>
</html>